---
import ProfileTag from '@/components/ProfileTag.astro';
import { BrandService } from '@/services/brand.service';
import { UserApiService } from '@/services/user.service';

const brandService = new BrandService();
const userService = new UserApiService();

const user = userService.getRandom();
---

<div class="w-full flex flex-row justify-between bg-gray-800 px-5 items-center">
  <a href="/">
    <img src={brandService.getBrand()} class="shadow" width="140" alt="brand"/>
  </a>
  <ProfileTag photo={user?.photo ?? ""} alias={user?.userName ?? "null"}/>
</div>
