---
import Auth from "./Auth.astro";
import { BrandService } from "@/services/brand.service";

const brandService = new BrandService();
---

<div class="w-full flex flex-row justify-between bg-gray-800 px-8 items-center">
  <a href="/">
    <img src={brandService.getBrand()} class="shadow" width="140" alt="brand" />
  </a>
  <Auth />
</div>
