---
import UserPhoto from "@/components/UserPhoto.astro"

interface Props {
  photo: string;
  alias: string;
}

const { photo, alias } = Astro.props;
---

<a
  class="flex flex-col border-none shadow-sm hover:grayscale items-center bg-pink-700 shadow-pink-900 rounded-lg p-2"
  href="/profile"
>
  <UserPhoto photo={photo} />
  <p class="font-bold">@{alias}</p>
</a>
