---
interface Props {
  photo: string;
  alias: string;
}

const { photo, alias } = Astro.props;
---

<a
  class="flex flex-col border-none shadow-sm hover:grayscale items-center bg-pink-700 shadow-pink-900 rounded-lg p-2"
  href="/profile"
>
  <img
    class="rounded-full bg-pink-800 w-[60px] h-[60px] p-2"
    src={photo}
    alt="user-photo"
  />
  <p class="font-bold">@{alias}</p>
</a>
