---
import Button from "@/components/Button.astro";
import FormErrorMessage from "@/components/FormErrorMessage.astro";
import authGuard from "@/guards/auth.guard";
import Layout from "@/layouts/Layout.astro";
import { SignInRequest } from "@/model/signin.request";
import authStorage from "@/store/auth.store";

const res = authGuard(Astro.url.pathname, Astro.redirect);
if (res) return res;

const onPost = async () => {
  const data = await Astro.request.formData();

  const email = data.get("email")?.toString();
  const password = data.get("password")?.toString();

  const isValidForm = email && password;
  if (!isValidForm) throw new Error("email or password is invalid!");

  const signinRequest = new SignInRequest(email, password);
  await authStorage.login(signinRequest);
};

let errorForm = "";
if (Astro.request.method === "POST") {
  try {
    await onPost();
    return Astro.redirect("/");
  } catch (err) {
    errorForm = err as string;
  }
}
---

<Layout title="Login">
  <div class="flex flex-col gap-2 my-16 text-center">
    <FormErrorMessage message={errorForm} />
    <h2 class="text-6xl font-bold">Login</h2>
    <p>
      Do not you have an account yet? <a
        class="text-blue-400 font-bold hover:text-blue-200"
        href="/register">Register Now</a
      >
    </p>
  </div>
  <form class="flex justify-center" method="POST">
    <div class="flex flex-col w-[400px] justify-center items-center gap-5">
      <label>
        Email:
        <input
          type="email"
          name="email"
          placeholder="user@domain.com"
          required
        />
      </label>
      <label>
        Password:
        <input
          type="password"
          name="password"
          placeholder="P4ssw0rd"
          required
        />
      </label>
      <Button class="text-xl h-14 mt-7 py-3">Continue</Button>
    </div>
  </form>
</Layout>

<style scoped>
  label {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 1rem;
    font-size: 1.1rem;
  }
  input {
    width: 280px;
    font-size: 1rem;
    padding-left: 3px;
    padding-block: 3px;
    color: black;
    background: white;
  }
</style>
