---
import Button from "@/components/Button.astro";
import Layout from "@/layouts/Layout.astro";
import FormErrorMessage from "@/components/FormErrorMessage.astro";
import authStorage from "@/store/auth.store";
import { SignUpRequest } from "@/model/signup.request";

const onPost = async () => {
  const data = await Astro.request.formData();

  const email = data.get("email")?.toString();
  const password = data.get("password")?.toString();
  const username = data.get("username")?.toString();
  const couplename = data.get("couplename")?.toString();
  const anniversary = data.get("anniversary")?.toString();
  const photo = data.get("photo")?.toString();

  const isValidForm =
    email && password && username && couplename && anniversary && photo;
  if (!isValidForm) throw new Error("invalid input!");

  const signinRequest = new SignUpRequest(
    username,
    couplename,
    photo,
    email,
    password,
    anniversary,
  );
  await authStorage.register(signinRequest);
};

let errorForm = "";
if (Astro.request.method === "POST") {
  try {
    await onPost();
    return Astro.redirect("/login");
  } catch (err) {
    errorForm = err as string;
  }
}
---

<Layout title="Register">
  <div class="flex flex-col gap-2 my-16 text-center">
    <FormErrorMessage message={errorForm} />
    <h2 class="text-6xl font-bold">Register</h2>
    <p>
      Do you have an account? <a
        class="text-blue-400 font-bold hover:text-blue-200"
        href="/login">Login</a
      >
    </p>
  </div>
  <form class="flex justify-center" method="POST">
    <div class="flex flex-col justify-center items-center gap-5">
      <label>
        Email:
        <input
          type="email"
          name="email"
          placeholder="user@domain.com"
          required
        />
      </label>
      <label>
        Name:
        <input type="text" name="username" placeholder="he" required />
      </label>
      <label>
        Couple Name:
        <input type="text" name="couplename" placeholder="she" required />
      </label>
      <label>
        Photo:
        <input
          type="url"
          name="photo"
          placeholder="http://url/photo.png"
          required
        />
      </label>
      <label>
        Anniversary:
        <input type="date" name="anniversary" required />
      </label>
      <label>
        Password:
        <input
          type="password"
          name="password"
          placeholder="P4ssw0rd"
          required
        />
      </label>
      <Button class="text-xl h-14 mt-7 py-3">Continue</Button>
    </div>
  </form>
</Layout>

<style scoped>
  label {
    width: 100%;
    display: flex;
    justify-content: end;
  }
  input {
    width: 200px;
    margin-left: 30px;
  }
</style>
