:host {
  display: flex;
  flex-direction: column;
  gap: 0;

  padding: 1rem;
}

.aditional-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 1rem;
  gap: 0.1rem;
}
