<app-filter
  [admin]="isAdmin"
  [tags]="tags"
  [filterValue]="filterValue"
  [filterTags]="filterTags"
></app-filter>
<div class="aditional-actions">
  <button mat-raised-button (click)="onClearFilters()">
    <mat-icon>clear</mat-icon>
    Clear Filters
  </button>
  @if (isAdmin) {
    <button mat-raised-button (click)="onTagEditor()">
      <mat-icon>editor</mat-icon>
      Tag Editor
    </button>
    <button mat-raised-button (click)="onAddIdea()">
      <mat-icon>add</mat-icon>
      Add Idea
    </button>
  }
  <button mat-raised-button (click)="onExportDateIdeas()">
    <mat-icon>download</mat-icon>
    Export Ideas
  </button>
  <button mat-raised-button (click)="onRandomIdea()">
    <mat-icon>shuffle</mat-icon>
    Random Idea
  </button>
</div>
<app-alphabet-letters [letterFilter]="filterLetter"></app-alphabet-letters>
<app-ideas-table
  [dateIdeas]="filteredDateIdeas"
  [tags]="tags"
  [admin]="isAdmin"
  (removeIdeaTag)="onRemoveIdeaTag($event)"
  (addIdeaTag)="onAddIdeaTag($event)"
  (editIdea)="onEditIdea($event)"
  (deleteIdea)="onDeleteIdea($event)"
  (addIdeaAlphabet)="onAddIdeaAlphabet($event)"
></app-ideas-table>
